// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700;900&family=Open+Sans&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Icons
@import '~font-awesome/scss/font-awesome';

// General
body {
    font-family: $font-family-montserrat;
    background-color: $grey;
}

// Homepage
.main {
    .carousel {
        img {
            min-height: 330px;
        }
    }
    .carousel-indicators {
        li {
            border-radius: 50%;
            height: 10px;
            width: 10px;
            background-color: $purple;
        }
    }
}

.register,
.login,
.profile {
    .bg-image {
        left: 20px;
    }
    .card {
        margin-top: 60px;
    }
    .card-header{
        color: $white;
        background-color: $purple;
        border-color: $purple;
    }
    .form-control {
        background-color: $grey;
        border: none;
    }
    .col-form-label, .form-check-label {
        color: #989898;
        font-size: 12px;
    }
    .btn-submit {
        color: $white;
        padding: 22px;
        background-color: $purple;
        border-color: $purple;
        &:hover, &:active, &:focus {
            background-color: $purple;
            border-color: $purple;
            box-shadow: 0 0 0 0.2rem rgba(111, 66, 193, .5);
            -webkit-box-shadow: 0 0 0 0.2rem rgba(111, 66, 193, .5);
            -moz-box-shadow: 0 0 0 0.2rem rgba(111, 66, 193, .5);
        }
    }
    .forgot-password {
        font-size: 11px;
    }
    .sub-text {
        color: #989898;
        font-size: 11px;
    }
}

// Utilities
.manga {
    .img-thumbnail {
        @include media-breakpoint-up(lg) {
            width: 100%;
            height: 228px;
            background-image: url(http://static.fanfox.net/v202006282/mangafox/images/cover-img.png);
            background-repeat: no-repeat;
            background-size: 100% 100%;
        }
    }
    .card-title {
        font-size: 13px;
        font-family: $font-family-montserrat;
        font-weight: 700;
    }
    .latest-chap, .sub-title {
        font-size: 10px;
        color: #a3a3a3;
        text-decoration: none;
    }
    .latest-chap {
        &:hover {
            color: $purple;
        }
    }
}

// Fix slick carousel card heights
.manga-carousel {
    .slick-slide {
        height: auto !important;
    }
}

.text-purple {
    color: $purple !important;
}

.text-link, .nav-link {
    font-family: $font-family-montserrat;
    &:hover {
        color: $purple !important;
        text-decoration: none;
    }
}

.purple-indicator {
    &:after {
        content: "";
        border-left: 5px solid $purple;
        position: absolute;
        height: 20px;
        top: 7px;
        left: 0;
    }
}

.box-shadow-mini {
    box-shadow: 0 3px 8px 0 rgba(0,0,0,.2), 0 3px 13px 0 rgba(0,0,0,.19);
    //box-shadow: 0 50px 100px -20px rgba(50,50,93,.25), 0 30px 60px -30px rgba(0,0,0,.3), inset 0 -2px 6px 0 rgba(10,37,64,.35);
    -webkit-box-shadow: 0 3px 8px 0 rgba(0,0,0,.2), 0 3px 13px 0 rgba(0,0,0,.19);
    -moz-box-shadow: 0 3px 8px 0 rgba(0,0,0,.2), 0 3px 13px 0 rgba(0,0,0,.19);
    transition: box-shadow 0.3s ease-in-out;
    &:hover {
        box-shadow: 0 10px 16px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
        -webkit-box-shadow: 0 10px 16px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
        -moz-box-shadow: 0 10px 16px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
    }
}

.page-item {
    &.active {
        .page-link {
            color: $white;
            background-color: $purple;
            border-color: $purple;
        }
    }
    .page-link {
        font-family: $font-family-montserrat;
        color: $purple;
    }
}

// Admin
.admin-manga {
}